<div
  *ngIf="isSidebarOpen"
  class="fixed inset-0 bg-black opacity-50 z-40"
  (click)="toggleSidebar()"
></div>

<aside
  *ngIf="isAuthenticated"
  [ngClass]="{
    'fixed inset-0 z-50 flex flex-col w-64 px-4 py-4 bg-white border-r border-gray-200 md:relative md:translate-x-0 md:top-0 md:flex gap-4 md:h-screen': true,
    'transform transition-transform duration-300 ease-in-out': true,
    'translate-x-0': isSidebarOpen,
    '-translate-x-full': !isSidebarOpen,
  }"
>
  <a
    class="flex items-center mb-6 py-4 border-b text-2xl font-semibold text-gray-900"
  >
    <img class="w-12 h-12 mr-2" src="./assets/images/logo.svg" alt="logo" />
    Budget.io
  </a>
  <div class="h-full px-3 pb-4 overflow-y-auto">
    <ul class="space-y-5 font-medium">
      <li *ngFor="let link of links">
        <app-sidebar-link
          [label]="link.label"
          [icon]="link.icon"
          [route]="link.route"
        ></app-sidebar-link>
      </li>
    </ul>
  </div>
  <div></div>
</aside>

<div
  *ngIf="isAuthenticated"
  class="md:hidden sticky top-0 left-0 bg-white shadow-md p-2 z-30"
>
  <button
    (click)="toggleSidebar()"
    class="text-gray-500 p-3 border-2 rounded hover:text-gray-900"
  >
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        clip-rule="evenodd"
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
      ></path>
    </svg>
  </button>
</div>
