<div class="overflow-x-auto overflow-y-auto flex-1 shadow-md sm:rounded-lg">
  <table
    class="min-w-full table-fixed w-full text-sm text-left rtl:text-right text-gray-500"
  >
    <thead class="text-xs text-white uppercase bg-blue-500">
      <tr>
        <th
          *ngFor="let column of displayedColumns"
          scope="col"
          class="px-6 py-3"
        >
          {{ column }}
        </th>
        <th class="px-6 text-center py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of tableData"
        class="odd:bg-white even:bg-gray-50 border-b border-gray-200"
      >
        <td *ngFor="let column of displayedColumns" class="px-6 py-4">
          {{ row[column] }}
        </td>
        <td class="px-6 text-center py-4">
          <ng-container *ngFor="let action of actions">
            <button
              (click)="action.callback(row)"
              [ngClass]="action.color"
              class="px-4 py-2 transition duration-200 mr-2"
            >
              {{ action.label }}
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
