<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white w-96 flex gap-4 flex-col p-6 rounded-lg shadow-lg">
    <div class="text-2xl">Add new budget</div>
    <form [formGroup]="budgetForm" class="space-y-4">
      <div>
        <app-input
          formControlName="name"
          placeholder="Enter amount"
          label="Name"
          width="w-72"
        />
      </div>
      <div>
        <app-input
          formControlName="amount"
          placeholder="Enter amount"
          label="Amount"
          width="w-72"
        />
      </div>
      <div>
        <div class="w-full">
          <app-dropdown
            placeholder="Category"
            formControlName="categoryId"
            [options]="categoryList"
            [displayProperty]="'name'"
            [valueProperty]="'id'"
          ></app-dropdown>
        </div>
      </div>

      <div class="flex gap-2">
        <div class="w-full">
          <app-button
            [fullWidth]="true"
            label="Submit"
            (buttonClick)="onSubmit()"
          />
        </div>
        <div class="w-full">
          <app-button
            label="cancel"
            [color]="'red'"
            [fullWidth]="true"
            (buttonClick)="onCancel($event)"
          />
        </div>
      </div>
    </form>
  </div>
</div>
