<div class="bg-gray-100 gap-5 flex flex-col md:h-full flex-1 p-6">
  <div class="bg-white p-6 rounded-lg block shadow-md">
    <h1 class="text-3xl font-semibold">Home Page</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="p-4 bg-white rounded-lg shadow-md flex flex-col items-center">
      <h2 class="text-xl font-semibold text-gray-700">Total Balance</h2>
      <p class="text-2xl font-bold text-green-600">
        {{ accountDetails?.balance | currency: currencyCode }}
      </p>
    </div>
    <div class="p-4 bg-white rounded-lg shadow-md flex flex-col items-center">
      <h2 class="text-xl font-semibold text-gray-700">Total Expenses</h2>
      <p class="text-2xl font-bold text-red-600">$1,750</p>
    </div>
  </div>

  <div
    class="bg-white justify-center items-center flex flex-1 p-6 rounded-lg shadow-md"
  >
    <div class="block text-center">
      <h2 class="text-2xl font-semibold mb-2">Add Budget</h2>
      <p class="text-gray-600 mb-4">
        Take control of your finances by creating a budget today.
      </p>
      <app-button label="Create budget" [routerLink]="['/budget']" />
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div
      class="px-4 py-7 bg-white rounded-lg shadow-md flex flex-col items-center text-center"
    >
      <h2 class="text-xl font-semibold text-gray-700">Add Transaction</h2>
      <p class="text-gray-600 mb-4">Quickly log a new expense or income.</p>
      <app-button
        label="Add transaction"
        [routerLink]="['/transactions']"
        [size]="'small'"
      />
    </div>
    <div
      class="p-4 bg-white rounded-lg shadow-md flex flex-col items-center text-center"
    >
      <h2 class="text-xl font-semibold text-gray-700">View your account</h2>
      <p class="text-gray-600 mb-4">Take a quick look at you account.</p>
      <app-button
        label="View account"
        [routerLink]="['/account']"
        [size]="'small'"
      />
    </div>
  </div>
</div>
